body {
    font-family: Arial, sans-serif;
    cursor: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: transparent;
    display: absolute;
}

.vehicle-container {
    height: 60%;
    max-width: 80%;
    width: 100%;
    background: linear-gradient(135deg, #333, #000); /* Gradient for container */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Slight shadow */
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 15%;
    padding: 0;
    margin-top: 10%;
    margin-left: 10%;
}

.vehicle-main-content {
    height: 90%;
    flex: 1;
    padding: 20px;
    background: linear-gradient(135deg, #2c2c2c, #1b1b1b); /* Gradient for main content */
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 10px 0;
    color: #ffcc00; 
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    position: relative;
}

.page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.page.active {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transform: translateX(0);
}

.page-leave {
    transform: translateX(-100%);
}

.page-enter {
    transform: translateX(100%);
}

.column {
    width: 48%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
}

.divider {
    width: 4%;
    height: 100%;
    margin-left: 2%;
    border-left: 2px solid #ffcc00; 
}

.vehicle {
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(135deg, #555, #222);
    border-radius: 10px;
    padding: 5px;
    width: 45%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.vehicle img {
    max-width: 63%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #ffcc00; 
}

.label {
    font-weight: bold;
    color: #ffcc00; 
}

.stock {
    margin: 5px 0;
    color: #fff; 
}

.price {
    margin: 5px 0;
    color: #fff; /* White for price text */
}

footer {
    top: 20px;
    text-align: center;
    padding: 10px 0;
}

footer button {
    top: 50px;
    padding: 8px 12px;
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

footer button:hover {
    background-color: #ffcc00;
    color: #000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    background: linear-gradient(135deg, #333, #000); 
    border-radius: 0 10px 10px 0;
    box-shadow: -5px 0 10px rgba(95, 88, 88, 0.5); 
    justify-content: center; 
}

.sidebar button {
    padding: 8px 12px;
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar button:hover {
    background-color: #ffcc00;
    color: #000;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button.test-drive {
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.test-drive:hover {
    background-color: #ffcc00;
    color: #000;
}

button.buy {
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.buy:hover {
    background-color: #ffcc00;
    color: #000;
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: yellow;
    background: linear-gradient(90deg, yellow 0%, #ffff99 25%, #ffcc00 50%, #ffff99 75%, yellow 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.nav-button {
    font-weight: bold;
    font-size: 24px;
    background: none;
    border: none;
    color: #e5ff00;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}

.nav-button:disabled {
    color: #e5ff00;
    cursor: not-allowed;
}

#navigationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

